@import url('fonts.css');

body {
	margin: auto;
	font-family:Timeless;
}
.container {
	margin: auto;
	width: 90%;
}

.content {
	width: 70%;
	display: inline-block;
}
.right-sidebar {
	width: 20%;
	height: 400px;
	display: inline-block;
	margin-left: 50px;
	position: absolute;
}
.center {
	display: inline-block;
	position: absolute;
	width: 45%;
	padding: 30px 30px 30px 30px;
	border: 2px solid black;
	margin-left: 30px;
}
header {
	width: 100%;
	height: 100px;
    background-color: #CCC;
	-webkit-box-shadow: inset 0.4px -2px 5px 0.2px #000;
	-moz-box-shadow: inset 0.4px -2px 5px 0.2px #000;
	box-shadow: inset 0.4px -2px 5px 0.2px #000;
}

nav {
	margin: auto;
	width: 100%;
	background: url('images/nav.jpg');
	background-size: 100%;
	padding: 10px 0 10px 0;
	margin-bottom: 30px;
	position: relative;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid #999;
}
nav a{
	padding:10px 20px 20px 20px;
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	font-family:Timeless Bold;
	font-size:20px;
	
	
}
.initial {
	text-shadow: 1px 0px 0.5px #999;
	filter: dropshadow(color=#7a737a, offx=0.4, offy=0);
	margin-top: 20px;
	float: left;
	font-family: QuickSand Bold;
	font-size: 50px;
	padding-right: 20px;
	padding-left: 10px;
	color: #FFF;
}
.title {
	text-shadow: 1px 0px 0.5px #999;
	filter: dropshadow(color=#7a737a, offx=0.3, offy=0);
	margin-top: 30px;
	font-family: QuickSand Bold;
	font-size: 30px;
	float: left;
}

.user {
	padding: 10px 30px 10px 30px;
	-webkit-box-shadow: inset 0.4px 0px 5px 0.2px #000;
	-moz-box-shadow: inset 0.4px 0px 5px 0.2px #000;
	box-shadow: inset 0.4px 0px 5px 0.2px #000;
}

.search {
	margin: auto;
}
.search input {
	padding: 5px 10px 5px 10px;
	font-family: Quicksand;
	outline: none;
	border: 1px solid #CCC;
	width: 90%;
}
