@charset "utf-8";
/* CSS Document */
/* Import: Font CSS
 Contents:
 Quicksand Font Family (and variants)
 * */
@import url('fonts.css');
.form-container {
	margin-top: -1%;	width: 60%;	height: 600px;	overflow: auto;	padding: 5px 5px 5px 5px;	margin: auto;	margin-top: 10px;	border: 2px solid #CCC;	-webkit-box-shadow: inset 0px 0px 6px 0px #000;	-moz-box-shadow: inset 0px 0px 6px 0px #000;	box-shadow: inset 0px 0px 6px 0px #000;	border-radius: 5px;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;	background: white;	font-family: Linux Libertine-DR;}
.form-container section {
	float: left;	z-index: 1;}
.form-container h3 {
	font-size: 16px;	color: #039;	border-bottom: solid 3px #039;}
pre::-webkit-scrollbar {
	height: 1ex;}
pre::-webkit-scrollbar-thumb:horizontal {
	background: rgba(0, 0, 0, .2);}
.error {
	font-family: inherit;	font-size: inherit;	color: #F33;	border-color: #F33;}
.left-side {
	right: 2%;	position: absolute;	float: right;	top: 108px;	width: 200px;}
.form-sidebar {
	background-color: #FFFFFF;	width: 100%;	padding-top: 10px;	border: 2px solid #CCC;	-webkit-box-shadow: inset 0px 0px 6px 0px #000;	-moz-box-shadow: inset 0px 0px 6px 0px #000;	box-shadow: inset 0px 0px 6px 0px #000;	border-radius: 5px;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;}
.form-sidebar .buttons {
	margin: auto;	width: 70%;}
.form-sidebar .buttons a {
	width: 45%;	text-align: center;}
.form-container input {
	width: 100px;	padding: 10px auto;}
input.radio {
	width: 10px;}
.menu-container {
	background: #FFF;	width: 12%;	height: auto;	position: absolute;	left: 2%;	top: 173px;	margin-bottom: 10px;	border: 2px solid #CCC;	-webkit-box-shadow: inset 0px 0px 6px 0px #000;	-moz-box-shadow: inset 0px 0px 6px 0px #000;	box-shadow: inset 0px 0px 6px 0px #000;	border-radius: 5px;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;	padding: 5px 20px 5px 20px;}
.menu-title {
	width: 100%;}
.menu-container-2 {
	width: 20%;	height: auto;	display: inline-block;}
.menu {
	width: 100%;	padding-bottom: 20px;	height: 25px;	overflow: hidden;	-webkit-transition-property: height;	-webkit-transition-duration: 0.25s;	-webkit-transition-timing-function: linear;	-moz-transition-property: height;	-moz-transition-duration: 0.25s;	-moz-transition-timing-function: linear;	-o-transition-property: height;	-o-transition-duration: 0.25s;	-o-transition-timing-function: linear;	transition-property: height;	transition-duration: 0.25s;	transition-timing-function: linear;	cursor: pointer;}
.min, .max {
	float: right;	display: inline-block;	width: 10%;	font-weight: bolder;	font-size: 25px;	cursor: pointer;	color: #999999;}
.max:hover {
	color: #3333FF;}
.min:hover {
	color: #FF6666;}
.menu:click {
	height: 100%;}
.form-sidebar h3 {
	color: #039;}
.menu h2 {
	margin-top: 5px;	text-align: center;	font-size: 22px;	padding-bottom: 5px;	width: 70%;	display: inline-block;	margin-left: 10px;	font-weight: bold;}
.form-sidebar h3 {
	text-align: center;	margin: auto;	font-family: "Times New Roman", Times, serif;	font-size: 18px;	padding-bottom: 5px;	border-bottom: #039 solid 3px;	width: 70%;	margin-bottom: 15px;}
.menu a {
	text-decoration: none;	margin-left: 5px;	font-family: "Times New Roman", Times, serif;	font-size: 16px;	text-align: left;	cursor: hand;	color: #000;	display: block;	width: 100%;	cursor: pointer;}
.form-sidebar a {
	margin-left: 18px;	margin-top: 20px;	font-size: 16px;	font-weight: bold;}
.menu a:hover, .menu h2:hover {
	color: #039;	cursor: hand;}
.menu ul, .menu ul li {
	list-style: none;	margin: 0;	padding: 0;}
.menu ul {
	text-align: center;}
.menu ul li {
	display: inline;	margin-right: .75em;}
#left-radio-buttons, #right-radio-buttons {
	width: 20%;	display: block;	position: relative;}
#right-radio-buttons {
	float: right;}
.banner {
	width: 100%;	padding-bottom: 10px;	border-bottom: 2px solid #999;}
/**
 * Logo
 */
.logo, .credentials {
	display: inline-block;}
.credentials {
	position: absolute;	left: 130px;	font-family: Verdana;	width: 450px;}
.date {
	float: right;	padding: 20px 30px 5px 10px;	border-bottom: 1px solid #003399;}
/**
 * Title
 */
.title, .subtitle, .division {
	display: block;}
.title {
	font-size: 17px;	font-weight: bold;}
.subtitle {
	font-size: 13px;	font-weight: bold;}
.division {
	font-size: 12px;	font-weight: bold;}
.message {
	background-image: linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);	background-image: -o-linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);	background-image: -moz-linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);	background-image: -webkit-linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);	background-image: -ms-linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(179,43,43)),
	color-stop(0.99, rgb(194,74,74))
	);	color: white;	padding: 0.2em;	border-radius: 5px;	font-size: 16px;	-webkit-box-shadow: 0 2px 6px 0.5px #000;	text-align: center;	margin: auto;	margin-top: 100px;	width: 33.5%;	text-align: center;	font: "Verdana";}.message p{	font-size:1em;	text-shadow: 0px -0.2px 0.4px #333333;}
/* Parent Container
 *  Login Form */
.login {
	margin: auto;	margin-top: 40px;	width: 35%;	background: CCC;	height: auto;	border: 2px solid #999;}
/* Child Form
 Contents :
 1. Input Fields:  Username
 2. Password
 3. Button: Login
 *
 * */
.form-login {
	width: 80%;	margin: auto;}
.form-title {
	border-bottom: 1px solid #999;	font-size: 20px;	width: 100%;	margin-bottom: 10px;}
.form-title .title-text {
	padding: 5px 10px 5px 10px;}
/*
 Input fields within Login Form
 Attribute => Default
 * */
.form-login input {
	padding: 10px 10px 10px 10px;	width: 100%;	border: 1px solid #999;	outline: none;	font-family: Quicksand;	font-size: 100%;}
/*
 Input fields within Login Form
 Attribute => Focus
 * */
.form-login input:focus {
	font-family: Quicksand Bold;}
/*
 Button within Login Form
 * */
.form-login button {
	font-family: Quicksand;}
form input, form textarea {
	border: 1px solid #999;	outline: none;	padding: 5px 5px 5px 5px;	margin: 5px 5px 5px 5px;}
.form-login input:focus, form input:focus, form textarea:focus {
	-webkit-box-shadow: inset 0px 3px 6px -3px #000;	-moz-box-shadow: inset 0px 3px 6px -3px #000;	box-shadow: inset 0px 3px 6px -3px #000;	border: 1px solid #3333FF;}
.fancyModal {
	display: block;	width: 560px;	position: absolute;	top: -310px;	left: 170px;	padding: 90px 20px 20px 20px;	border: solid 1px #999;	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);	-webkit-border-bottom-left-radius: 6px;	-webkit-border-bottom-right-radius: 6px;	-webkit-transition: -webkit-transform 0.25s ease-out;	-webkit-transform: translateY(-570px);}
#profile-before {
	width: 100%;	height: 28px;	overflow: hidden;	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));	background: -moz-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));	-webkit-border-bottom-left-radius: 6px;	-webkit-border-bottom-right-radius: 6px;	-moz-border-bottom-left-radius: 6px;	-moz-border-bottom-right-radius: 6px;	border-bottom-left-radius: 6px;	border-bottom-right-radius: 6px;	padding-bottom: 15px;	-webkit-transition-property: height;	-webkit-transition-duration: 0.75s;	-webkit-transition-timing-function: linear;	-moz-transition-property: height;	-moz-transition-duration: 0.75s;	-moz-transition-timing-function: linear;	-o-transition-property: height;	-o-transition-duration: 0.75s;	-o-transition-timing-function: linear;	transition-property: height;	transition-duration: 0.75s;	transition-timing-function: linear;	margin-bottom: 23px;}
#profile-before:hover {
	height: 100px;}
#profile-before p {
	text-align: center;	padding-bottom: 5px;}
#profile-before .title {
	background: url('../images/banner.jpg');	padding: 10px 10px 12px 10px;	height: 22px;	text-align: center;	border-left: 2px groove #999;	border-right: 2px groove #999;	color: #fff;	text-shadow: 0px -0.7px 0.9px #333333;	font-family: Linux Libertine-DR;	font-size: 20px;}
#profile-fancy {
	display: block;	width: 300px;	position: absolute;	top: -310px;	left: 80%;	padding: 90px 20px 20px 20px;	border: solid 1px #999;	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);	-webkit-border-bottom-left-radius: 6px;	-webkit-border-bottom-right-radius: 6px;	-webkit-transition: -webkit-transform 0.25s ease-out;	-webkit-transform: translateY(-570px);}
#profile-fancy h3, #profile-fancy p, #profile-before h3, #profile-before p {
	text-shadow: 0px 1px 1px #fff;	color: rgba(0,0,0,0.75)}
#profile-before p {
	margin-left: 30px;}
#profile-fancy.show {
	-webkit-transform: translateY(-80px);	-moz-transform: translatey(-80px);}