@charset "utf-8";
/* CSS Document */
@import url('fonts.css');
/* Columns*/
.column, .column-wide {
	position: relative;
	padding: 0 20px 10px 10px;
	display: inline-block;
	float: left;
	height: auto;
}

.column {
	width: 45%;
}
.column-wide {
	width: 95%;
}
.column input, .column-wide input {
	display:table-row;
}
.column textarea, .column-wide textarea {
	display: block;
	float: right;
	width: 85%;
	height: 120px;
}
.column-wide textarea {
	height: 90px;
}
.column label, .column-wide label {
	float: left;
	display: block;
	width:85%;
}
.row, .row2 {
	width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
}
.row-title {
	width: 100%;
	display: block;
	margin-top: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.left {
	width: 35%;
}
.right {
	width: 50%;
}
.left-wide {
	width: 45%;
}
.right-wide {
	width: 45%;
}
.left, .right, .center {
	display: inline-block;
	height: auto;
}
.right {
	float: right;
	height: 100%;
}
.column .center {
	width: 10%;
}

.column-wide .center{
width:20%;
}
.column-wide .left, .column-wide .right{
width:30%;
}

.column label, .column-wide label {
	padding: 5px 5px 5px 5px;
	border: 1.5px solid black;
	border-radius: 5px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-box-shadow: inset 0px 0px 2px 0.5px #000;
	-moz-box-shadow: inset 0px 0px 2px 0.5px #000;
	box-shadow: inset 0px 0px 2px 0.5px #000;
	display:block;
}
