<form>
	<table>
		<tr>
			<td>1.Sample No.</td><td>2.Date and Time Collected</td>
		</tr>
		<tr>
			<td>
			<li>
				Product name and Description
			</li>
			<li>
				Method of collection
			</li>
			<li>
				Collector's Identification on package and seal
			</li></td>
		</tr>
		<tr>
			<td>Reason for collection</td>
		</tr>
		<tr>
			<td>5.Manufacturer</td><td>6.Dealer</td>
		</tr>
		<tr>
			<td>7.Size of lot sampled</td><td>8.Date dispatched</td>
		</tr>
		<tr>
			<td>9.Delivered to:</td><td>Date and Time:</td><td>11.Laboratory:</td>
		</tr>
		<tr>
			<td>12. Records obtained:
			<li>
				Invoice No. and Date:
			</li>
			<li>
				Shipping Record and Date
			</li>
			<li>
				Other Documents
			</li></td>
		</tr>
		<tr>
			<td>13.Remarks</td>
		</tr>
		<tr>
			<td>14.Specimen seal used:</td><td>15.Collector:</td>
		</tr>

	</table>
</form>